<div th:fragment="add-product-form" class="p-2" hx-indicator="#spinner">
    <script th:src="@{/product-form.js}"></script>

    <form class="input-validation-required" hx-post="/products" hx-trigger="submit"
          hx-swap="none" id="product-submission-form">
        <fieldset>
            <legend>Project:</legend>
            <wa-input name="title" label="Title" required></wa-input>
            <br/>
            <wa-input name="vendor" label="Vendor" required></wa-input>
            <br/>
            <wa-input name="image" label="Image URL"></wa-input>
            <br/>

        </fieldset>
        <fieldset>
            <legend>Variant:</legend>
            <div id="variants-container">
<!--                <wa-input name="variants[0].title" label="Title" required></wa-input>-->
<!--                <br/>-->
<!--                <wa-input name="variants[0].price" label="Price" type="number" step="0.01" required></wa-input>-->
<!--                <br/>-->
<!--                <wa-input name="variants[0].featuredImage" label="Featured Image URL"></wa-input>-->
<!--                <br/>-->
            </div>


            <button type="button" onclick="addVariant()" class="btn btn-secondary mt-2 btn-md btn-outline-dark">Add Another Variant</button>

        </fieldset>
        <br/>
        <br/>


        <wa-button type="submit">
            <div id="spinner" class="spinner" style="display: none;">⏳</div>
            Submit
        </wa-button>
    </form>

    <script type="module">

        const form = document.querySelector('.input-validation-required');

        // Wait for controls to be defined before attaching form listeners
        await Promise.all([
            customElements.whenDefined('wa-button'),
            customElements.whenDefined('wa-checkbox'),
            customElements.whenDefined('wa-input'),
            customElements.whenDefined('wa-option'),
            customElements.whenDefined('wa-select'),
            customElements.whenDefined('wa-textarea')
        ]).then(() => {
            form.addEventListener('submit', event => {
                event.preventDefault();
                alert('All fields are valid!');
            });
        });
    </script>


    <div id="notification" style="display:none;"></div>


</div>