.text-grey-1 {
    color: #424242;
}

.text-grey-2 {
    color: #6c6c6c;
}

.text-grey-3 {
    color: #919191;
}

.main-container {
    margin: 15px;
}

.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 1em;
}

.p-1{
    padding: 1em;
}
.p-2 {
    padding: 2em;
}

.scroll-200 {
    height: 200px !important;
    overflow: auto;
}
.height-250{
    height: 250px !important;
}

.scroll-300 {
    height: 300px !important;
    overflow: auto;
}
.border-grey-1{
    border: 1px solid #bababa;
}
.border-grey-2{
    border: 1px solid #d0d0d0;
}
.rounded{
    border-radius: 0.25em;
}
.no-list-style{
    list-style: none;
}
.d-flex{
    display: flex;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.gap-1{
    gap: 1em;
}
.align-middle{
    align-self: center;
}
.align-start{
    align-self: start;
}
header{
    position: sticky;
    top: 0;
    background: #FFF;
    z-index: 1;
    margin-top: 1em;
}
header h3{
    font-weight: 900;
}

.spinner {
    display: none;
}
.htmx-request .spinner {
    display: inline-block;
}
.m-10px{
    margin: 10px;
}
.me-2{
    margin-right: 2em;
}
.link-plain{
    text-decoration: none !important;
    color: inherit !important;
}
.text-danger{
    color: #a63636;
}
.no-decor{
    text-decoration: none !important;
}
.pointer{
    cursor: pointer;
}