<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/core-layouts::head}"></head>
<body>
<section class="main-container ">
    <header th:replace="layout/core-layouts::header"></header>
    <div class="mt-1 mb-1"><a href="/">< Back</a></div>
    <form th:action="@{/products/update}" th:object="${product}" method="post" class="wa-form">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{createdAt}"/>
        <wa-input name="title" label="Title" th:value="*{title}" required></wa-input>
        <br/>
        <wa-input name="handle" label="Handle" th:value="*{handle}" required></wa-input>
        <br/>
        <wa-input name="vendor" label="Vendor" th:value="*{vendor}" required></wa-input>
        <br/>
        <wa-input name="image" label="Image URL" th:value="*{image}" required></wa-input>
        <br/>
        <!--        <wa-input name="createdAt" label="Created At" th:value="*{createdAt}" type="datetime-local" required></wa-input>-->
        <br/><br/>
        <div class="product-edit-variants scroll-300 height-250 border-grey-1 p-1 d-flex justify-content-between gap-1">
            <th:block th:each="variant, variantIter : ${product.variants}">
                <div class="border-grey-2 rounded p-1 height-250">

                    <input type="hidden" th:value="${variant.id}" th:name="|variants[${variantIter.index}].id|"/>
                    <input type="hidden" th:name="|variants[${variantIter.index}].productId|"/>
                    <wa-input th:name="|variants[${variantIter.index}].title|" label="Variant Title"
                              th:value="${variant.title}" required></wa-input>
                    <wa-input th:name="|variants[${variantIter.index}].price|" label="Price"
                              th:value="${variant.price}" required></wa-input>
                </div>
            </th:block>
        </div>
        <br/>
        <div class="d-flex justify-content-center">
            <wa-button type="submit">
                <i class="wa-solid wa-floppy-disk"></i> Save
            </wa-button>
        </div>
    </form>


    <script type="module">
        const form = document.querySelector('.input-validation-required');
        await Promise.all([
            customElements.whenDefined('wa-button'),
            customElements.whenDefined('wa-input')
        ]).then(() => {
            form.addEventListener('submit', event => {
                event.preventDefault();
                alert('All fields are valid!');
            });
        });
    </script>
</section>
</body>
</html>