<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/core-layouts::head}"></head>
<body>
<header th:replace="~{layout/core-layouts::header}"></header>
<section class="main-container">
    <section>
        <wa-tab-group active="products">
            <wa-tab panel="products" hx-get="/products" hx-target="#product-list-table-container" hx-trigger="click">Products</wa-tab>
            <wa-tab panel="add-product" hx-get="/products/add" hx-swap="innerHtml" hx-target="#add-product-container">&#9886; &#10010; &#9887;</wa-tab>

            <wa-tab-panel name="products">
                <h3>Explore Products</h3>

                <div class="d-flex justify-content-center">
                    <div class="animation-form">
                        <wa-animation name="rubberBand" duration="1000" iterations="1">
                            <wa-button hx-get="/products" hx-target="#product-list-table-container" hx-trigger="click"
                            id="load-products-btn">
                                Load Products
                            </wa-button>
                        </wa-animation>
                    </div>

                    <script>
                        const container = document.querySelector('.animation-form');
                        const animation = container.querySelector('wa-animation');
                        const button = container.querySelector('wa-button');

                        button.addEventListener('click', () => {
                            animation.play = true;
                        });
                    </script>
                </div>
                <main>
                    <div id="product-list">
                        <div id="product-list-table-container" class="m-10px">

                        </div>
                    </div>
                </main>
            </wa-tab-panel>
            <wa-tab-panel name="add-product" id="add-product-container">
<!--                <div th:replace="~{layout/add-product-form::add-product-form}"></div>-->
            </wa-tab-panel>
        </wa-tab-group>
    </section>
</section>

</body>
</html>